body {
	overflow-y: scroll ;
}

a:link, a:visited, a:active { 
	text-decoration: none;
	color: #31BFF7 ;	
}

table.defs { 
	width: 100%;
	border: 0pt solid ;	
}

body, div, td { 
	vertical-align: top;
	font-family: "lucida grande";
	font-size: 0.8em ;
	margin: 0px;
	font-weight: normal;
	overflow-x: hidden;
}

td.def, td.def_term, td.def_spacer {
	vertical-align: middle ;
	min-width: 30px ;
	padding: 6px 2px 6px 2px;
	font-size: 0.95em
}

div.body {
	z-index: 100;
	border: 1pt #bbb ;
	border-bottom-style: solid ;
	padding: 0.5em;
	margin: 0em;
	background-color: #fff;
	background-color: #fff;
	box-shadow: 0 0 1px #666;
	-webkit-box-shadow: 0 0 1px #666;
	-moz-box-shadow: 0 0 1px #666;
}

div.content { 
	font-size: 1em;
	min-width: 500px;
}

div.help {
	cursor: pointer;
	position: absolute;
	top: 9px;
	right: 10px;
	font-size: 1.4em;
	color: #9f9f9f;
}

div.help-text {
	font-size: 1.1em;
}

div.option_set { 
	font-size: 1.2em;
	margin-bottom: 7px ;
	padding: 1px;
	
}

div.options { 
	z-index: -1;
	border: 1pt #c0c0c0 solid;
	padding: 2px;
	font-size: 1.3em;
	vertical-align: middle;
	display:inline;
	position: absolute;
	left: 246px;
	top: 37px;
	background-color: #fff;
	box-shadow: 0 0 2px #666;
	-webkit-box-shadow: 0 0 2px #666;
	-moz-box-shadow: 0 0 2px #666;
}

div.options_container { 
	background: #fff;
}

div.options_dicpic { 
	float:right;
	margin: 4px 4px 0px 2px;
	font-size: 1em;
}

div.options_text { 
	position: absolute;
	left: 244px ;
	top: 9px;
	margin-left: 2px;
	font-size: 1.4em;
	display:inline;
	vertical-align: middle;
	color: #9f9f9f;
	overflow: hidden;
}

div.options_text strong { 
	color: #999;
	font-size: 1.5em ;
	font-weight: normal;
	vertical-align: middle;
}

p { 
	padding-bottom: 0px ;
	line-height: 1.5em
}

.addspan { 
	position: absolute;
	z-index: 100 ;
	cursor: pointer;
}

.big { 
	position: absolute;
	left: 0.5em;
	color: #bbb;
	font-size: 25em;
	text-align: center ;
	vertical-align: middle ;
	width: 400px;
	padding-top: 40px;
}

.delete{ 
	margin-right: 5px ;
}

.definition { 
	color: #505050 ;
}

.def_spacer { 
	max-width: 50px;
	width: 50px;
}

.dic_source { 
	font-size: 1.2em;
}

.exp { 
	position: relative;
	top: 1px;
}

.field { 
	display: inline;
}

.fmp_field_label { 
	color: #bbb ;
	text-align: right ;
	padding: 0.2em 0.4em 0.2em 0em;
	font-size: 1em;
}

.fmp_field_value { 
	text-align: left ;
	color: #505050 ;
	padding: 0.2em 0em 0.2em 0em;
	font-size: 1em;
}

.fmp_header {}

.fmp_row { 
	padding: 0.5em 0em 0em 0em;
	border:1pt #bbb;
	border-top-style: solid;
	color: #505050 ;
}

.fmp_spacer { 
	padding: 0.5em 2em 0em 0em;
	color: #bbb ;
	vertical-align: middle;
	text-align: right;
}

.fmdot { 
	margin-right:0.5em
}

.highlight { 
	background-color: #ccFFFF;
	font-weight: bold;
}

.icon { 
	cursor: pointer;
	vertical-align: middle ;
	margin-right: 0.4em;
}

.indicator { 
	vertical-align: middle;
}

.label { 
	overflow-x: hidden;
	font-size: 1.3em ;
	font-weight: bold ;
	margin: 1em 0em 0.5em 0.5em;
}

.label_header { 
	cursor: pointer;
	font-size: 1.15em ;
	color: #aaa;
	white-space: nowrap
}

.next { 
	cursor: pointer ;
}

.prev { 
	cursor: pointer ;
}

.results { 
	font-size: 9pt;
	line-height: 16px;
	color: #505050 ;
	margin: 0em 0.5em 0.1em 0em ;
}

.results_group { 
	display: none;
}

.results_header { 
	vertical-align: top;
	overflow: hidden;
	color: #bbb ;
	font-size: 9pt ;
	margin: 1em 1em 1em 0em ;
	cursor: pointer;
}

.results_table { 
	display: none ;
	margin: 0.3em 0em 0em 2.75em;
}

.results_title { 
	font-size: 9pt;
	margin: 0.7em 0em 0em 0em;
}

.results_url { 
	color: #bbb ;
	font-size: 8pt
}

.small { 
	color: #888;
	font-size: 11pt;
	text-align: center ;
	vertical-align: middle;
	margin-top: 80px;
}

.source { 
	color: #bbb ;
	font-style: none ;
	float: left ;
	font-size: 1em;
}

.spotlight_file { 
	color: #505050 ;
	font-style: none ;
	font-size: 2em;
}

.spotlight_kind { 
	color: #bbb ;
	font-style: none ;
	font-size: 1.1em;
	padding: 1em 0em 1em 0em;
	cursor: pointer;
}

.spotlight_row { 
	padding: 0.2em 0em 0.2em 0em ;
	font-size: 1em
}

.summary { 
	float: none;
	border: 1pt #f0f0f0;
	border-bottom-style: none;
	padding: 10px 0px 10px 2px;
}

.summary_index { 
	width:4%;
	float: left !important;
	font-size: 1.3em;
	font-weight: bold;
}

.summary_snippet { 
	width:96%;
	font-size: 1.3em;
}

.tab { 
	display: none;
	position: absolute;
	left: 0em;
	top: 0em;
	text-align: center ;
	width:100%;
	border: 1pt #bbb ;
	border-bottom-style: solid ;
	height: 0.5em ;
}

.tip_item { 
	font-size: 2em;
	padding: 0.3em;
}

.tools_right { 
	z-index: 99;
	display: inline;
	position: absolute;
	right: 5px ;
	bottom: 4.5px;
	overflow: hidden;
	font-size: 1em;
}

.vote_info_header { 
	font-size: 1.3em;
	border: 1pt #bbb;
	border-bottom-style: solid;
}

.vote_info_none { 
	font-style: italic;
}

.vote_info_table { 
	width: 100%;
	margin-bottom: 10px;
}

.vote_info_table th { 
	padding: 4px;
}

.vote_info_table td { 
	padding: 4px !important;
	font-size: 1.1em;
}

.vote_info_dts { 
	width: 150px;
}

.votes { 
	display: none;
	color: #bbb ;
	font-style: none ;
	font-size: 0.95em;
}

#external { 
	z-index: -3;
	float: right ;
	width: 31em ;
	right: 0px;
	margin: 1.3em 0.5em 0em 0em;
	display: block;
}

#facebox .content { 
	font-size: 1.7em;
}

#dic_table { 
	display: block;
}

#more { 
	cursor: pointer;
}

#output { 
	z-index: -3;
	overflow-x: hidden;
	margin: 1em 34em 1em 1em ;
	position: absolute;
	left: 0px;
}

#term { 
	padding: 0.25em;
	font-size: 1.2em ;
	font-weight: bold;
	color: #505050;
	border: 1pt dashed #bbb;
}

#tip { 
	z-index: -2;
	display: none;
	position: absolute;
	left: 252px;
	top: 140px;
	background-color: #f0f0f0;
	padding: 0.4em;
	border: 1pt solid #c0c0c0;
	border-top-style: none;
	width: 230px;
	box-shadow: 0 0 1px #666;
	-webkit-box-shadow: 0 0 1px #666;
	-moz-box-shadow: 0 0 1px #666;
}

#vote_info_down_header { 
	padding-top: 12px;
}